on: [push]
name: Validate JSON Schema
permissions:
  contents: write
jobs:
  test-schema:
    runs-on: ubuntu-latest
    env:
      BIN: jsonschema
      VERSION: v2.13
    steps:
      - uses: actions/checkout@v2
      - uses: sourcemeta/jsonschema@v14.6.0
      - name: build
        run: make build
      - name: test
        run: make test
      - name: Fail if krakend.json changed
        run: git diff --exit-code -- "$VERSION/krakend.json"
      - name: Notify JSON schema
        uses: slackapi/slack-github-action@v2.0.0
        if: ${{ github.head_ref == 'main' || github.ref_name == 'main' }} # check the target branch if it's main
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            app: "${{ github.event.repository.name }}"
            status: "${{ job.status }}"
            env: "production"
            msg: "${{ github.event.head_commit.message }} ${{ github.event.head_commit.url }}"
            link: "${{ github.event.pull_request.url || github.event.head_commit.url }}"
